header{
     text-align: center;
     font-size: 25px;
     padding:20px;
}

.pokemon{
     background-color: #ffa;
     text-align: center;
     font-size: 20px;
     color: #495159;
     font-weight: bold;
     
     padding: 20px 5px;
     border: 10px solid white;
}